footer(class="sec-footer")
    .container 
        .row.align-items-center
            .col-lg-4
                .co-left
                    p
                        | 70 Bowman St.
                        br
                        | South Windsor, CT 06074
            .col-lg-4
                .co-center
                    a(href="#" class=hvr2)
                        img(src="assets/imgs/Vector Smart Object 6.png", alt="")
            .col-lg-4
                .co-right
                    p 
                        | 2017 Fluidra. All Rights Reserved.



<div id="mySidenav" class="sidenav"></div>
script(src="assets/js/libs/wow.min.js") 
script(src="assets/js/libs/all.js") 
script(src="assets/js/libs/bootstrap.bundle.min.js")
script(src="assets/js/script.js")